<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="margin-top: 20px">Personnel Transactions</ion-title>
    <ion-buttons slot="end" style="margin-top: 20px">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <!-- Pull-to-refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing..."
    ></ion-refresher-content>
  </ion-refresher>

  <div class="search-container">
    <div class="total-balance" *ngIf="!isLoading">
      <strong>Incentive:</strong> ₱{{ totalsalary | number : "1.2-2" }}
    </div>
    <!-- <div class="total-balance" *ngIf="!isLoading">
      <strong>Total Transaction(s):</strong> ₱{{
        totalamount | number : "1.2-2"
      }}
    </div> -->
    <ion-button fill="clear" class="filter-btn" (click)="openFilter()">
      <ion-icon name="filter-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="product-list-container">
    <!-- Product list -->

    <!-- Skeleton loader -->
    <ng-container *ngIf="isLoading">
      <ion-item *ngFor="let s of skeletonArray">
        <ion-label>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ng-container>
    <ion-list
      *ngIf="!isLoading && items.length > 0"
      lines="none"
      class="product-list card-list"
    >
      <!-- Real data -->
      <ion-item *ngFor="let item of filteredItems">
        <ion-label>
          <div class="meta">
            <strong>Date :</strong>
            {{ item.salesdate | date : "yyyy-MM-dd hh:mm:ss a" }}
          </div>
          <div class="meta">
            <strong>Reference Number:</strong> {{ item.salesrefnum }}
          </div>
          <div class="meta">
            <strong>Customer :</strong> {{ item.salescust }}
          </div>
          <div class="meta">
            <strong>Category :</strong> {{ item.salescat }}
          </div>
          <div class="meta">
            <strong>Size:</strong> {{ item.itemsize }}
            <strong>Quantity :</strong> ₱{{ item.scqty || 0 }}
            <strong>Commission :</strong> ₱{{ item.salary | number : "1.2-2" }}
          </div> </ion-label
        ><ion-badge
          class="status-badge"
          [color]="
            item.salestatus === 'CANCELLED'
              ? 'danger'
              : item.salestatus === 'PAID' || item.salestatus === 'CONFIRMED'
              ? 'success'
              : item.salestatus === 'UNPAID'
              ? 'warning'
              : 'medium'
          "
        >
          {{ item.salestatus }}
        </ion-badge>
      </ion-item>
    </ion-list>

    <!-- Empty state -->
    <ion-item *ngIf="!isLoading && filteredItems.length === 0">
      <ion-label class="ion-text-center">
        <ion-icon name="cube-outline"></ion-icon>
        <p>No data found.</p>
      </ion-label>
    </ion-item>
  </div>
  <!-- Infinite scroll -->
  <ion-infinite-scroll
    threshold="150px"
    (ionInfinite)="loadMore($event)"
    [disabled]="allLoaded"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    class="fab-custom"
    (click)="openAddModal()"
  >
    <ion-fab-button color="primary">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
