<ion-content [scrollEvents]="true">
  <!-- Header -->
  <div class="download-header">
    <div class="download-header-content">
      <h2 class="download-title">Transfer Items</h2>

      <ion-button
        fill="clear"
        class="header-options"
        (click)="showOptionsSheet()"
      >
        <ion-icon name="apps-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
  >
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing..."
    ></ion-refresher-content>
  </ion-refresher>

  <div class="sticky-filters">
  <app-date-range-display
    [dateFrom]="currentDateFrom"
    [dateTo]="currentDateTo"
  ></app-date-range-display>

  <!-- Search Section -->
  <div class="search-container">
    <ion-searchbar
      [debounce]="300"
      [placeholder]="searchFieldLabels[searchField]"
      [(ngModel)]="searchValue"
      (ionInput)="onSearchChange()"
    ></ion-searchbar>

    <ion-button fill="clear" (click)="selectSearchField()" class="filter-btn">
      <ion-icon name="funnel-outline"></ion-icon>
    </ion-button>

    <ion-button fill="clear" (click)="openFilter()" class="filter-btn">
      <ion-icon name="filter-outline"></ion-icon>
    </ion-button>
  </div>
  </div>

  <div class="product-list-container">
    <!-- Skeleton Loader -->
    <ion-list
      *ngIf="isLoading && filteredItems.length === 0"
      lines="none"
      class="product-list card-list"
    >
      <ion-item *ngFor="let skeleton of skeletonArray">
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h2>
          <div class="meta">
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Real Data -->
    <ion-list
      *ngIf="!isLoading && filteredItems.length > 0"
      lines="none"
      class="product-list card-list"
    >
      <ion-item-sliding *ngFor="let item of filteredItems" #sliding>
        <ion-item (click)="openDetails(item)">
          <ion-label>
            <h2 class="desc">{{ item.poutrefnum }}</h2>
            <div class="meta">
              <strong>Transfer To:</strong> {{ item.pullsupplier || "N/A" }}
            </div>
            <div class="meta">
              <strong>Category:</strong> {{ item.pouttype || "N/A" }}
            </div>
            <div class="meta">
              <strong>Total Items:</strong> {{ item.pouttotalqty || 0 }}
            </div>
            <div class="meta">
              <strong>Encoder:</strong> {{ item.poutencoder || "N/A" }}
            </div>
            <div class="meta">
              <strong>Date:</strong> {{ item.pulldate | date : "yyyy-MM-dd" }}
            </div>
            <ion-badge
              class="status-badge"
              [color]="
                item.pulloutremarks === 'CANCELLED'
                  ? 'danger'
                  : item.pulloutremarks === 'CONFIRMED'
                  ? 'success'
                  : item.pulloutremarks === 'Waiting'
                  ? 'warning'
                  : 'medium'
              "
            >
              {{ item.pulloutremarks }}
            </ion-badge>
          </ion-label>
        </ion-item>

        <ion-item-options
          side="end"
          *ngIf="item?.pulloutremarks === 'Waiting'"
        >
          <ion-item-option
            color="danger"
            (click)="deleteConfirm(item, sliding)"
          >
            <ion-icon name="trash-outline"></ion-icon> Cancel
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <!-- Empty State -->
    <div *ngIf="!isLoading && filteredItems.length === 0" class="empty-state">
      <ion-icon name="cube-outline"></ion-icon>
      <p>No Transfers found.</p>
    </div>
  </div>
  <!-- Infinite Scroll -->
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    class="fab-custom"
    (click)="openAddModal()"
  >
    <ion-fab-button color="primary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
